body {
  background-color: #f5f5f5;
  margin: 0;
  font-size: 1em;
}

form {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.d1 {background: auto;
    margin-left: 21%;}
.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 24px;
  outline: none;
  background: #d6d5d3;
  color: #9E9C9C;
}
.d1 button {
  outline: none;
  position: absolute;
  top: 0;
  right: -13px;
  width: 47px;
  height: 47px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
}
.d1 button:before {
  content: "\f004";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;

}

.nav {
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #ffffff;
  height: 7.81vh;
  display: flex;
  float: left;
  width: 100%;
  margin-left: 8.8%;
}

.but {
  width: 10vw;
  height: 4vh;
  font-size: 2.5vh;
  font-weight: bold;
  background-color: #d7d7d7;
  margin: 1.5vh 0.6vw;
  padding: 0.2vh 0.7vw;
  cursor: pointer;
  border: 0px;
}

.navtext {
  margin: 0;
  padding-left: 14vw;
  font-size: 2.5vh;
  width: 100%;
  font-weight: bold;
}

.logo {
  margin-left: 1.3vw;
  margin-top: -2vh;
  width: 50%;
  height: 50%;
}
.prof {
  padding-top: 50%;
  margin-left: -68%;
  margin-bottom: -7%;
}

.menu {
  position: fixed;
  float: left;
  display: flex;
  height: 100vh;
  top: 0;
}

.main-menu {
  background-color: #1b3546;
  width: 8.67vw;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu a {
  display: flex;
  width: 84%;
  margin-bottom: -0.1%;
  padding: 3.5vh 0.7vw;
  color: #ced0cf;
  text-decoration: none;
  font-size: 3vh;
}


.main-menu a:hover {
  background-color: #696969;
}

.main-menu > li {
}

.content {
  width: 91%;
  height: 92.2vh;
  float: left;
  background-color: transparent;
  margin-top: 7.81vh;
  margin-left: 9%;
  overflow: auto;
}

table {
  width: 100%;
  float: left;
  text-align: center;
  border-collapse: collapse;
}

tr:first-child{
  font-weight: bold;
  background-color: #f5f5f5;
}

td {
  font-size: 100%;
  margin: 0 auto;
  border-radius: 1;
  width: 2%;
  position: relative;
  padding: 0.5% 1%;
}

.wrapper {
  width: 125%;
  margin-left: 1%;
}

.twraper {
  position: relative;
  background: white;
  width: 100%;
  height: 8vh;
  display: block;
  border: 0.1vh solid #dadada;
}

.rowRight {
  width: 30%;
  display: flex;
  float: left;
  font-size: 110%;
}

.rowLeft {
  width: 70%;
  display: flex;
  float: left;
  padding-bottom: 1.5%;
  font-size: 110%;
}

.rowR {
  position: absolute;
  bottom: 0;
  right: 0;
  float: left;
}

.content {z-index: 2;}
.nav {z-index: 1;}

.clone_tbl {
    display: block;
    position: relative;
    margin: 0;
    left: 0;
    top: 0;
    color: #060;
    background: #FAEBD7;
    z-index: 20;

}
.clone_tbl li {
    list-style: none;
    float: left;
}

.container {
    position: absolute;
    background: #FAEBD7;
    z-index: 5;
}
.hightlight {
    background: #F0FFFF;
}

.col {
  width: 19.1%;
  height: auto;
  float: left;
  padding-right: 1vw;
  padding-bottom: 16vh;
}
